[Unit]
Description=T.A.R.S Host Security Check (every 6 hours)

[Timer]
OnBootSec=10min
OnCalendar=*-*-* 00,06,12,18:00:00
Persistent=true

[Install]
WantedBy=timers.target
